{% extends "base.html" %}

{% block content %}

<section class="section-conten padding-y bg">

    {% include "includes/alerts.html" %}

    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> My order history </a>
                </ul>
            </aside>
            <main class="col-md-9">
                {% if all_orders %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Order Total</th>
                            <th scope="col">Date</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in all_orders %}
                        <tr>
                            <th scope="row"><a href="{% url 'success' order.order_number %}">{{order.order_number}}</a>
                            </th>
                            <td>&#163;{{order.order_total}}</td>
                            <td>{{order.created_at}}</td>
                            <td>{% if order.order_note %}{{order.order_note}}{% else %}None{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="text-center mt-5 mb-5">
                    <h4>You have not ordered anything yet.</h4>
                    <a href="{% url 'store' %}" class="btn btn-success mt-4">Go Shopping</a>
                </div>
                {% endif %}
            </main>
        </div>
    </div>
</section>

{% endblock %}