{% extends "base.html" %}

{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 pt-large">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center mb-5">
                                    <img src="https://fit-gear.s3.eu-west-2.amazonaws.com/static/images/logo.png"
                                        style="width: 275px;" alt="logo">
                                </div>
                                <p>Forgot Password</p>
                                {% include "includes/alerts.html" %}
                                <form action="{% url 'forgotPassword' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <input type="email" class="form-control" placeholder="Email Address"
                                            name="email">
                                    </div>
                                    <div class="form-outline mb-4">
                                        <a href="{% url 'login' %}" class="float-right green-link">Have a Password? Log
                                            In Here</a>
                                    </div>
                                    <div class="text-center pt-1 mb-3 pb-1">
                                        <button type="submit" class="btn btn-success btn-block"> Reset Password
                                        </button>
                                    </div>
                                    <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}"
                                            class="green-link">Sign
                                            up</a></p>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Find a New Friend!</h4>
                                <p class="small mb-0">Have you been looking for a smart partner that goes to the gym
                                    with you, no matter how early, how late it is, or what the weather is? Furthermore,
                                    this friend will help you achieve your goals? Well, you are at the right place! Our
                                    smart accessories are the perfect company for your workout. Take a look now!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}