/* ------- COMMON CSS ------- */

body {
    min-height: 100vh !important;
    position: relative;
}

.pt-large {
    padding-top: 100px !important;
}

.pt-medium {
    padding-top: 50px !important;
}

.pb-80 {
    padding-bottom: 80px;
}

.alert-box {
    border-color: #d3d6d8;
}


/* ------- BUTTON FONT SIZE ------- */

.btn-16 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

/* ------- TEXT LINK ------- */

.green-link {
    color: #59ab6e;
    text-decoration: none;
}

.green-link:hover {
    color: #59ab6e;
    text-decoration: underline;
}

/* ------- NAVBAR ------- */

.home-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
}

/* ------- PRODUCT CARDS ------- */

.card-img-size {
    height: 250px;
    object-fit: cover;
}

.card-body-store {
    min-height: 220px;
}

.card-body-homepage {
    min-height: 300px;
}

.rating-star i {
    color: #ffb503;
}

.card-shadow {
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.17);
    transition: 0.3s ease-in-out;
}

.card-shadow:hover {
    -webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.65);
    transition: 0.3s ease-in-out;
}

.btn-text {
    text-decoration: none;
    color: #fff !important;
    font-size: 16px !important;

}

/* ------- LOGIN PAGE ------- */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #59AB6E;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #59AB6E, #00A388, #0097A7);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #59AB6E, #00A388, #0097A7);
}

/* ------- REGISTER PAGE ------- */
.gradient-form {
    padding-bottom: 42px;
}

/* ------- BAG.HTML ------- */

.img-sm {
    width: 80px;
    height: 80px;
}

.w-20 {
    width: 20%;
}

.bag-item-name {
    text-decoration: none;
    font-weight: 600 !important;
}

.border-bag-items {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.fa-cc-stripe,
.fa-cc-visa,
.fa-cc-mastercard,
.fa-cc-amex {
    color: #0d6efd;
}

/* ------- SUCCESS STORIES BLOG ------- */

.blog-article {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
    padding-top: 30px;
}

.blog-intro {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-article>p,
.blog-content>p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-content {
    width: 60%;
    margin: 0 auto;
}

.blog-category-left {
    color: var(--bs-dark);
}

.blog-category-left:hover {
    color: #59ab6e;
}

.comment-box {
    padding: 18px;
    background: #fbfdff;
    border-radius: 0.37rem;
    border: 1px solid #e9eef5;
}

.post-comment-box {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    clear: both !important;
}

.post-comment-box:after {
    content: '';
    position: absolute;
    inset: -20px;
    border: 1px solid #e9eef5;
    border-radius: 10px;
    background-color: #fbfdff;
    z-index: -5;
}

/* ------- CONTACT PAGE ------- */

.google-map {
    height: 300px;
}

#contact-info i {
    color: #59ab6e;
}

/* ------- MEDIA QUERIES  ------- */

@media all and (min-width: 992px) {

    /* ------- NAVBAR DROPDOWN ON HOVER ------- */
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media all and (max-width: 992px) {

    .blog-intro,
    .blog-content {
        width: 80%;
    }

    /* ------- RESPONSIVE ORDER HISTORY TABLE ------- */

    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100% !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media all and (max-width: 576px) {
    .img-sm-small {
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .blog-content {
        width: 95%;
    }

    .pt-large {
        padding-top: 40px !important;
    }

    .pt-medium {
        padding-top: 20px !important;
    }
}