{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="bg text-center mt-5 mb-5">
    <div class="container text-center">
        <h1>Fit Gear Blog</h1>
        <div class="blog-intro">
            <p>Fit Gear is a lot more than just selling quality fitness products.
                We would like to build an awesome fitness community where we can inspire each other for an active and
                heatlhy lifestyle! Please read our community's inspiring <strong>success stories</strong> - and we would
                like to
                encourage you to share yours too!</p>
        </div>
    </div>
</section>

<section class="bg-light pt-4" style="padding-bottom: 80px;">
    <div class="container text-center">
        {% for blog in blogposts %}
        <article class="blog-article">
            <h2 class="text-success">{{ blog.title }}</h2>
            <h4> By {{ blog.author.first_name }}</h4>
            <span class="small">Posted on: <cite title>{{ blog.created_on|date:"D d, M Y" }}</cite></span>
            <div class="blog-content">
                <p>{{ blog.content|truncatewords:75 }}</p>
            </div>
            <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-success">Read more</a>
        </article>
        {% endfor %}
        <br>
        <hr>
        <br>
        <a href="{% url 'add_blogpost' %}" class="btn btn-success">Write Your Story!</a>
    </div>
</section>

{% endblock %}