{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="text-center mt-5 mb-5">
    <h1>{{ blogposts.title }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 order-last order-lg-first">
            <h1 class="h2 pb-4 text-success mt-4 mt-lg-0">Other Stories</h1>
            <ul class="list-unstyled">
                {% for p in allposts %}
                <li class="">
                    <a class="d-flex justify-content-between h3 text-decoration-none blog-category-left"
                        href="{% url 'blog_detail' p.slug %}">
                        {{ p.title|truncatewords:3 }} </a>
                </li>
                {% endfor %}
                <hr>
                <li><a class="text-decoration-none blog-category-left" href="{% url 'blog' %}">Back to Blogs</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <header class="border-bottom mb-4 pb-3">
                <div class="form-inline">
                    <p>Created by <strong>{{ blogposts.author.first_name }}</strong> on
                        {{ blogposts.created_on|date:"l d M, Y" }}</p>
                </div>
            </header>
            <p>{{ blogposts.content }}</p>
        </div>
    </div>
</div>

<br>
<hr>

<section class="padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9 m-auto">
                <div class="text-center">
                    <form method="post" action="." class="post-comment-box">
                        <h2 class="text-center">Add comment</h2>
                        {% csrf_token %}
                        <p class="text-start">Name: {{ request.user.first_name }}</p>
                        <div class="text-start">
                            {{ form.as_p }}
                        </div>
                        <br>
                        <input type="submit" value="Post Comment" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-9 m-auto">
                <div class="text-center">
                    {% for comment in blogposts.comments.all %}
                    <article class="box mb-3 post-comment-box">
                        <h3>{{ comment.name }}</h3>
                        {{ comment.body }}
                        {{ comment.commented_on|timesince }} ago
                    </article>
                    {% endfor %}
                </div>

                <br>
                <div class="text-center">
                    <a href="{% url 'blog' %}" class="btn btn-success">Back to Blogs</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}