{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1 mb-4">Contact Us</h1>
        <p>
            Customer satisfaction is our top priority. Whether you have an inquiry, would like to purchase or return an
            item, or have any other questions, you can reach us on one of the contact details below:
        </p>
    </div>
</section>

<section class="container pt-5">
    <div class="text-center google-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.004637347566!2d-0.14277958391451012!3d51.5131309181048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d502268421%3A0x6a7d62889992f993!2sRegent%20St.%2C%20London!5e0!3m2!1shu!2suk!4v1638385792921!5m2!1shu!2suk"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div>

    </div>
</section>

<section class="container py-5">
    <div class="row py-5">
        <div class="card p-3 col-12 col-md-6 col-lg-4 text-center">
            <i class="fas fa-map-marker-alt fa-5x"></i>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat cupiditate aspernatur voluptate
                doloremque impedit nobis rerum tenetur maxime dignissimos? Quas amet aut voluptatem. Animi ratione
                quidem, doloribus quos accusantium dicta veniam dolores excepturi consequatur ipsum sit qui debitis.
                Maxime, quo adipisci. Distinctio voluptates quibusdam facilis maxime repellat accusantium, totam
                adipisci. </p>
        </div>
        <div class="card p-3 col-12 col-md-6 col-lg-4"></div>
        <div class="card p-3 col-12 col-md-6 col-lg-4"></div>
    </div>
</section>

{% endblock %}