{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Start Content Page -->
<section class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1 mb-4">Contact Us</h1>
        <p>
            Customer satisfaction is our top priority. Whether you have an inquiry, would like to purchase or return an
            item, or have any other questions, you can reach us on one of the contact details below:
        </p>
    </div>
</section>

<section class="container py-5">
    <div class="row py-5">

    </div>
</section>

{% endblock %}