{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">
            <div class="col">
                <!-- ========================= MOBILE VIEW ========================= -->
                <div class="d-block d-md-none text-center">
                    <div class="row">
                        <div class="col">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h3 class=" mt-5 mb-5">Order Confirmation:</h3>
                        </div>
                    </div>
                    {% for bag_item in order %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            <img src="{{ bag_item.product.images.url }}" class="img-sm">
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            <a href="{{ bag_item.product.get_url }}"
                                class="text-dark bag-item-name text-success">{{ bag_item.product }}</a>
                            <p>
                                {% if bag_item.variations.all %}
                                {% for item in bag_item.variations.all %}
                                {{ item.variation_category|capfirst }}:
                                {{ item.variation_value|capfirst }}
                                <br>
                                {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <p>Quantity: {{ bag_item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: &#163;{{ bag_item.product.price }}</p>
                            <p><strong>Subtotal: </strong>&#163;</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    <h3 class="text-center mt-2 mb-5">Shipping address:</h3>
                </div>

                <!-- ========================= LARGE SCREEN VIEW ========================= -->
                <div class="table-responsive rounded d-none d-md-block border-bag-items mt-5 mb-lg-5 pt-3">
                    <table class="table table-sm table-borderless">
                        <h3 class="text-center mt-2 mb-5">Thank you for your order. Please see your confirmation:</h3>
                        <thead class="text-black">
                            <tr>
                                <th scope="col" class="text-center">Product Info</th>
                                <th scope="col" class="text-center"></th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-center">Qty</th>
                                <th scope="col" class="text-center">Subtotal</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>

                        {% for bag_item in order %}
                        <tr>
                            <td class="p-3 w-25 text-center">
                                <img src="{{ bag_item.product.images.url }}" class="img-sm">
                            </td>
                            <td class="py-3">
                                <a href="{{ bag_item.product.get_url }}"
                                    class="text-dark bag-item-name text-success">{{ bag_item.product }}</a>
                                <p>
                                    {% if bag_item.variations.all %}
                                    {% for item in bag_item.variations.all %}
                                    {{ item.variation_category|capfirst }}:
                                    {{ item.variation_value|capfirst }}
                                    <br>
                                    {% endfor %}
                                    {% endif %}
                                </p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">&#163;{{ bag_item.product.price }} </p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">{{ bag_item.quantity }} </p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">&#163;{{ bag_item.prd_subtotal }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="p-3 w-25 text-center">

                            </td>
                            <td class="py-3">

                            </td>
                            <td class="py-3 text-center">

                            </td>
                            <td class="py-3 text-center">
                                Total
                            </td>
                            <td class="py-3 text-center">
                                &#163;{{ total_price }}
                            </td>
                        </tr>


                        <tr>
                            <td class="p-3 w-25 text-center">

                            </td>
                            <td class="py-3">

                            </td>
                            <td class="py-3 text-center">

                            </td>
                            <td class="py-3 text-center">
                                tax
                            </td>
                            <td class="py-3 text-center">
                                &#163;{{ main_order.tax }}
                            </td>
                        </tr>

                        <tr>
                            <td class="p-3 w-25 text-center">

                            </td>
                            <td class="py-3">

                            </td>
                            <td class="py-3 text-center">

                            </td>
                            <td class="py-3 text-center">
                                GrandTotal
                            </td>
                            <td class="py-3 text-center">
                                &#163;{{ main_order.order_total }}
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <h3 class="text-center mt-2 mb-5">Shipping address:</h3>
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col" class="text-center">Address line 1</th>
                                <th scope="col" class="text-center">Address line 2</th>
                                <th scope="col" class="text-center">Country</th>
                                <th scope="col" class="text-center">City</th>
                                <th scope="col" class="text-center">Status</th>
                            </tr>
                        </thead>

                        <tr>
                            <td class="py-3 text-center">
                                <p class="my-0">{{main_order.address_line_1}} </p>
                            </td>

                            <td class="py-3 text-center">
                                <p class="my-0">{{main_order.address_line_2}} </p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">{{main_order.country}}</p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">{{main_order.city}}</p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">{{main_order.status}}</p>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    </div>
</section>


{% endblock %}