{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block content %}

<!-- Product Detail Section -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{{ single_product.images.url }}" alt="Card image cap"
                        id="product-detail">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'add_to_bag' single_product.id %}" method="POST">
                            {% csrf_token %}
                            <h2 class="title">{{ single_product.product_name }}</h2>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if single_product.averageRating < 0.5 %}-o{% elif single_product.averageRating >= 0.5 and single_product.averageRating < 1 %}-half-alt {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageRating < 1.5 %}-o{% elif single_product.averageRating >= 1.5 and single_product.averageRating < 2 %}-half-alt {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageRating < 2.5 %}-o{% elif single_product.averageRating >= 2.5 and single_product.averageRating < 3 %}-half-alt {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageRating < 3.5 %}-o{% elif single_product.averageRating >= 3.5 and single_product.averageRating < 4 %}-half-alt {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if single_product.averageRating < 4.5 %}-o{% elif single_product.averageRating >= 4.5 and single_product.averageRating < 5 %}-half-alt {% endif %}"
                                        aria-hidden="true"></i>
                                    <span class="list-inline-item text-dark">
                                        {% if single_product.averageRating == 0 %}No ratings
                                        yet.{% else %}Rating: {{ single_product.averageRating }}{% endif %}
                                        |
                                        {{single_product.countReview}} reviews</span>
                                </span>
                            </div>
                            <p class="h3 mt-4">&#163;{{ single_product.price }}</p>
                            <h6>Description:</h6>
                            <p>{{ single_product.product_description }}</p>
                            <hr>
                            <div class="row mb-4">
                                <div class="item-option-select">
                                    <h6>Choose Color</h6>
                                    <select name="color" class="form-select" required>
                                        <option value="" disabled selected>Select</option>
                                        {% for i in single_product.variation_set.colors %}
                                        <option value="{{ i.variation_value|lower }}">
                                            {{ i.variation_value|capfirst }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select Size</h6>
                                    <select name="size" class="form-select" required>
                                        <option value="" disabled selected>Select</option>
                                        {% for i in single_product.variation_set.sizes %}
                                        <option value="{{ i.variation_value|lower }}">
                                            {{ i.variation_value|capfirst }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            {% if single_product.stock <= 0 %}
                            <h5 class="text-danger">Out of Stock</h5>
                            {% else %}
                            <button type="submit" class="btn btn-success">
                                <span class="text">Add to Bag</span>
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Detail Section -->

<!-- Review Section -->

<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9 m-auto">
                <form action="{% url 'submit_review' single_product.id %}" method="POST" class="write-review">
                    {% csrf_token %}
                    <h4 class="mb-3">Write Your Review</h4>
                    <div>
                        <p style="margin-bottom: 10px;">How did you enjoy this product?</p>
                        <div class="rating">
                            <input type="radio" name="rating" id="rating5" value="5" required><label for="rating5"
                                title="5"></label>
                            <input type="radio" name="rating" id="rating4" value="4" required><label for="rating4"
                                title="4"></label>
                            <input type="radio" name="rating" id="rating3" value="3" required><label for="rating3"
                                title="3"></label>
                            <input type="radio" name="rating" id="rating2" value="2" required><label for="rating2"
                                title="2"></label>
                            <input type="radio" name="rating" id="rating1" value="1" required><label for="rating1"
                                title="1"></label>
                        </div>
                        <br>
                        Review Title:
                        <input type="text" class="form-control" name="subject" required>
                        <br>
                        Review:
                        <textarea name="review" rows="4" class="form-control" required></textarea>
                        <br>
                        <!--
                        {% if user.is_authenticated %}
                        {% if orderproduct %}
                        <input type="submit" value="Submit Review" class="btn btn-primary">
                        {% else %}
                        <p>You must purchase this product to post a review. </p>
                        {% endif %}
                        {% else %}
                        <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login
                                    Now</a></span></p>
                        {% endif %} 
                        -->
                        {% if user.is_authenticated %}
                        <input type="submit" value="Submit Review" class="btn btn-success">
                        {% else %}
                        <p>You must be logged in to post a review. <span><a href="{% url 'login' %}"
                                    class="green-link">Login
                                    now</a></span></p>
                        {% endif %}
                    </div>
                    {% include 'includes/alerts.html' %}
                </form>
            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-9 m-auto">

                <header class="section-heading bg-light mt-5 mb-2">
                    <h3>Customer Reviews </h3>
                </header>

                <div class="rating-star mb-5">
                    <span>
                        <i class="fa fa-star{% if single_product.averageRating < 0.5 %}-o{% elif single_product.averageRating >= 0.5 and single_product.averageRating < 1 %}-half-alt {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageRating < 1.5 %}-o{% elif single_product.averageRating >= 1.5 and single_product.averageRating < 2 %}-half-alt {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageRating < 2.5 %}-o{% elif single_product.averageRating >= 2.5 and single_product.averageRating < 3 %}-half-alt {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageRating < 3.5 %}-o{% elif single_product.averageRating >= 3.5 and single_product.averageRating < 4 %}-half-alt {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if single_product.averageRating < 4.5 %}-o{% elif single_product.averageRating >= 4.5 and single_product.averageRating < 5 %}-half-alt {% endif %}"
                            aria-hidden="true"></i>
                        <span>{{ single_product.countReview }} reviews</span>
                    </span>
                </div>

                {% if reviews %}
                {% for review in reviews %}
                <article class="box mb-3">
                    <div class="w-100">
                        <span class="date text-muted float-md-end">{{ review.updated_at|timesince }} ago</span>
                        <h5 class="mb-1">{{ review.user.first_name }}</h5>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 2.0 %}-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 3.0 %}-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 4.0 %}-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 5.0 %}-o {% endif %}" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="review-subject">{{ review.subject }}</h6>
                        <p class="mt-2" style="font-size: 16px !important;">
                            {{ review.review }}
                        </p>
                    </div>
                </article>
                {% endfor %}
                {% else %}
                <div class="box text-center">
                    <p>No reviews yet. Be the first one to write a review!</p>
                </div>
                {% endif  %}
                <div class="text-center mt-5">
                    <a href="{% url 'store' %}" class="btn btn-success">Back to Store</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- End Review Section -->

{% endblock %}